.collection-detail {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;

  .collection-name {
    font-size: 48px;
  }
}

.collection-image {
  width: 380px;
  display: flex;
  flex-direction: column;
}

.collection-info {
  width: 380px;
  display: flex;
  flex-direction: column;
  button {
    margin: 10px 0;
    font-size: 20px;
  }
}

.shipping-info {
  width: 1050px;
  margin: 30px auto;
  text-align: center;

  .shipping-action {
    display: table;
    margin: 0 auto;
  }
}
